.Upper_Des_Box{
       
    width:99%;
    height: 900px;
    border: 1px solid rgb(255, 51, 0);
    display:flex;
 }

 .Upper_left_des{
     margin: 10px 10px 20px 10px;
     width: 42%;
     height:790px;
     border: 1px solid black;

 }

 .Upper_right_des{

    margin: 10px 10px 20px 10px;
     width: 55%;
     height:830px;
     border: 1px solid rgb(48, 2, 2);

 }

 .des_image{
     margin:15px 5px 5px 20px;
     width: 460px;
 }

 .des_image:hover {
    transform: scale(1.05);
 }
 
 .title_Text {
margin-left: 5px;
font-family: Arial, Helvetica, sans-serif;
font-size: 19px;
color: #333;
font-weight: 700;
line-height: 24px;
}

.rating_Text{
   margin-left: 5px;
   color:#ff6e26;
   font-size: 19px;
}

.des_price_Text {
margin:0;
font-family: Arial, Helvetica, sans-serif;
font-size: 24px;
font-weight: 800;
color: #333;
font-weight: 700;
margin-left: 5px;
line-height: 33px;



display:inline-block;
}

.card_discount{
    margin-left: 10px;
    display:inline-block;
    background-color: #fff5f0;
    color:tomato;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}

.des_size{
    margin-left: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(95, 94, 94);
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}

.buy_div{
    margin-top: 50px;
    margin-left: 5px;
    border: 1px solid blue;
    width: 90%;
    height: 130px; 
    display: flex;
    margin-bottom: 50px;
   
}

.buyNow{
    margin: 15px 20px 15px 15px;
    background-color: #ff2b2a;
    width: 230px;
    height:80px;
    border-radius: 10px;
    color:whitesmoke;
    text-align: center;

    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 20px;
    
    display: flex; 
    justify-content: center;
     align-items: center;
     border:none;

}

.buyNow_Orange{
    background-color: #ff9900;

    margin: 15px 20px 15px 15px;
    
    width: 230px;
    height:80px;
    border-radius: 10px;
    color:whitesmoke;
    text-align: center;

    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 20px;
    
    display: flex; 
    justify-content: center;
     align-items: center;
     border:none;
    


}